@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

body{
    font-family: 'Lato', sans-serif;
}

.iconify{
    color: #ffa943; 
    font-size: 22px;
}



/* HAMBURGER */
.navbar{
    width: 300px;
    height: 100%;
    background-color: #262228c2;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: 20% 0 0 60%;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}

.change{
    right: 0;
}

.hamburger-menu{
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line{
    width: 100%;
    height: 3px;
    background-color: #FFA943;
    transition: all 0.8s;
}

.change .line-1{
    transform: rotateZ(-45deg) translate(-8px, 6px);
}

.change .line-2{
    opacity: 0;
}

.change .line-3{
    transform: rotateZ(45deg) translate(-8px, -6px);
}

.nav-list{
    text-align: center;
}

.nav-item{
    list-style: none;
    margin: 25px;
}

.nav-link{
    font-size: 22px;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}
.nav-link::before, .nav-link::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #FFA943;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after{
    bottom: 0;
    transform-origin: right;
}

.nav-link::before{
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before, .nav-link:hover::after{
    transform: scaleX(1);
}

.menu{
    /*max-width: 1170px;*/
    width: 100%;
    margin: 0 auto;
    padding: 30px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
}

/*MENU

.menu{
    /*max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.menu a, .menu p{
    color: white;
    position: relative;
}

.logo img{
    margin: 0 10px;
}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
}

.menu-nav a{
    font-size: 18px;
    padding: 20px;
    display: block;
    position: relative;
}

.menu-nav a:hover{
    color: #FFA943;
}
#wp{
    padding: 50px;
}
.menu-nav a .iconify{
    margin-right: 10px;
    font-size: 22px;
    position: relative;
    top: 4px;
}

*/

/*BANNER - CONTAINER*/
.banner
{
    position: relative;
    min-height: 100vh;
    background: url(../image/bg-header.png);
    background-color: black; 
    background-size: cover;
    display: flex;
    justify-content: space-between;
    background-position: center;
    align-items: center;
}

.container-info{
    position: relative;
    margin-left: 60px;
    top: 90px;
    transition-duration: 1.5s;
}
.container-info h1{
    font-size: 36px;
    font-weight: 700px;
    color: white;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
    transition-duration: 1.5s;
}

.container-info p{
    font-size: 18px;
    color: white;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
    transition-duration: 1.5s;
}

.btn{
    position: relative;
    background: #FFA943;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 40px;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 1s;
    border-radius: 3px;
}

.btn:hover{
    color: #332C36;
}

@media (max-width: 650px){ /*mudar aqui: 650 ou mais*/
    .container-info{
        margin: 0 20px;
        transition-duration: 1.5s;
    }
    .container-info h1{
        font-size: 26px;
        transition-duration: 1.5s;
    }
    .container-info p{
        font-size: 16px;
        transition-duration: 1.5s;
    }
    .container-info .btn{
        font-size: 18px;
    }
}


/*ABAOUT*/

.abaout{
    max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    margin: 60px 20px;
    background-color: white;
}

.abaout-border{
    border-top: 6px solid #000000;
    width: 99px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.abaout-info{
    flex: 2 1 400px;
    margin: 20px 10px;
    position: relative;
}

.abaout-info h3{
    color: #57515A;
    font-size: 21px;
    font-weight: 700px;
}

.abaout-info h1{
    color: #FFA943;
    font-size: 26px;
    font-weight: 700px;
    padding: 30px 0;
}

.abaout-info p{
    color: #57515A;
    font-size: 18px;
    max-width: 600px;
    text-align: left;
}

.abaout-img{
    flex: 1 1 350px;
    margin: 0 10px;
}


.bordar-abaout{
    outline: 3px solid #FFA943;
    outline-offset: -30px;
    padding: 0px 0px 40px 40px;
}



/*DEPOIMENTOS*/

.depoimentos{
    background: linear-gradient(91.99deg, rgba(58, 57, 57, 0.76) -33.06%, rgba(116, 68, 32, 0.24) 115.24%),url(../image/depoimentos.png); 
    background-size: cover;
    background-position: center;
    height: 323px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.depoimentos-info{
    text-align: center;
    position: relative;
    margin: 0 20px;
}

.depoimentos-info .iconify{
    font-size: 74px;
}

.depoimentos-info h3{
    font-size: 21px;
    color: white;
    max-width: 668px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.depoimentos-info p{
    font-size: 18px;
    font-weight: 300px;
    color: #FFA943;
}

@media (max-width:650px) {
    .depoimentos-info h3{
        font-size: 19px;
    }
    .depoimentos-info .iconify{
        font-size: 54px;
    }
}
/*SERVIÇOS*/
.servicos{
    padding: 60px auto;
    background-color: #332C36;
    min-height: 190vh;
    position: relative;
    
}


@media(max-width:1097px){
    .servicos{
        min-height: 300vh;
    }
}

@media(max-width:556px){
    .servicos{
        min-height: 480vh;
    }
}
.servicos-info{
    text-align: center;
    margin-bottom: 90px;
    padding-top: 90px;
}

.servicos-border-info{
    border-top: 6px solid #000000;
    width: 99px;
    border-radius: 3px;
    margin: 0 auto;
}

.servicos-info h3{
    font-size: 21px;
    color: white;
    font-weight: 700px;
    margin: 30px 0;
}

.servicos-info h1{
    font-size: 26px;
    color: #FFA943;
    font-weight: 700px;
}

.servicos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}

.servicos-item{
    flex: 1;
}

.servicos-item img{
    margin-bottom: 60px;
    align-self: center;
    margin: 60px auto;
}

.servicos-border{
    margin: 15px auto;
    border: 3px solid #FFA943;
    border-radius: 3px;
    width: 99px;
}

.servicos-item h2{
    color: white;
    font-weight: 700px;
    font-size: 26px;
    text-align: center;
}

.servicos-item p{
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    width: 270px;
}

/*PREÇO*/
.preco{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    align-items: center;
    bottom: 280px;
}

@media(max-width:1097px){/*1097*/
    .preco{
        bottom: 300px; /*360px*/
    }
}

@media(max-width:556px){
    .preco{
        bottom: 320px;
        margin-bottom: 200px;
    }
}

.preco-classico{
    background-color: #262228;
    padding: 60px 60px 40px 40px;
    width: 500px;
    margin: 30px 10px;
    /*flex: 0 0 557px;*/
}

.border{
    border: 2px solid #FFA943;
}

.bordar-preco{
    outline: 3px solid #FFA943;
    outline-offset: 50px;
    margin: 10px 10px 10px 25px;
    padding: 0 auto;
}

.preco-classico h3{
    font-size: 18px;
    color: white;
    text-align: left;
    font-weight: lighter;
    margin-bottom: 15px;
}

.preco-classico h2{
    font-size: 21px;
    color: #FFA943;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
}


.preco-classico li{
    font-size: 18px;
    color: white;
    margin: 30px 0;
}


.money{
    position: relative;
    left: 170px;
    color: #FFA943;
    font-size: 18px;
}

.bd, .pm{
    border-top: 1px solid #57515A;
    position: absolute;
    top: 225px;
    right: 160px;
    width: 25%;
    display: inline-block;
}

.bd1, .pm1{
    border-top: 1px solid #57515A;
    position: absolute;
    top: 180px;
    right: 160px;
    width: 25%;
    display: inline-block;
}

.bd2, .pm2{
    border-top: 1px solid #57515A;
    position: absolute;
    top: 280px;
    right: 160px;
    width: 25%;
    display: inline-block;
}

.bd3, .pm3{
    border-top: 1px solid #57515A;
    position: absolute;
    top: 330px;
    right: 160px;
    width: 25%;
    display: inline-block;
}
.bd4, .pm4{
    border-top: 1px solid #57515A;
    position: absolute;
    top: 380px;
    right: 160px;
    width: 25%;
    display: inline-block;
}
.bd5, .pm5{
    border-top: 1px solid #57515A;
    position: absolute;
    top: 435px;
    right: 160px;
    width: 25%;
    display: inline-block;
}
.bd6, .pm6{
    border-top: 1px solid #57515A;
    position: absolute;
    top: 485px;
    right: 160px;
    width: 25%;
    display: inline-block;
}
.border-preco{
    border-top: 1px solid #57515A;
    position: relative;
    display: inline-block;
    align-self: center;   
}

/*FOTOS*/
.fotos{
    /*justify-content: center;
    align-items: center;*/
    margin-top: -180px;
}

.border-fotos{
    margin: 15px auto;
    border: 3px solid #000000;
    border-radius: 3px;
    width: 99px;
}

.bordar-fotos{
    outline: 3px solid #FFA943;
    outline-offset: -30px;
    padding: 10px 0px 40px 50px;
}

.fotos-info h2{
    font-size: 21px;
    color: #57515A;
    text-align: center;
    font-weight: lighter;
    margin: 30px 0;
}

.fotos-info h1{
    font-size: 26px;
    color: #FFA943;
    text-align: center;
    font-weight: 700;
}

.fotos-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    /*max-width: 1240px;*/
}


.fotos-item{
    padding: 0px 10px 0px 10px;
}

.fotos-item h3{
    font-size: 20px;
    color: #FFA943;
    text-align: center;
    font-weight: lighter;
    margin: 20px 0;
}

.fotos-item p{
    font-size: 18px;
    color: #57515A;
    width: 350px;
    text-align: center;
    margin: 30px auto;
}

/* AGENDA */
.agenda-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../image/agenda-bg.png);
    background-size: cover;
    position: relative;
    height: 323px;
    margin-top: 90px;
}

.agenda-info{
    margin: 0 auto;
}

.agenda-info h1{
    font-size: 26px;
    color: white;
    text-align: center;
    width: 320px;
    font-weight: 700;
    position: relative;
}

.agenda-btn{
    margin: 0 auto;
    position: relative;
    background: #FFA943;
    display: inline-block;
    color: #fff;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 1s;
    border-radius: 3px;
}

.agenda-btn a{
    color: white;
}

.agenda-btn a:hover{
    color: #332C36;
    transition-duration: 1.5s;
}

@media(max-width:580px){
    .agenda-btn {
        font-size: 21px;
    }
}


/* BARBEIROS */
.barbeiros{
    background-color: #262228;
}

.barbeiros-info{
    padding-top: 90px;
}

.barbeiros-border{
    margin: 0 auto;
    border: 3px solid #000000;
    border-radius: 3px;
    width: 99px;
}

.barbeiros-info h3{
    font-size: 21px;
    color: white;
    font-weight: 700;
    text-align: center;
    margin: 30px 0;
}

.barbeiros-info h1{
    font-size: 26px;
    font-weight: 700;
    color: #FFA943;
    text-align: center;
    margin: 30px 0;
}

.barbeiros-info p{
    color: #57515A;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 40px;
}

.bordar-barbeiros{
    outline: 3px solid #FFA943;
    outline-offset: -40px;
    padding: 0px 0px 40px 40px;
}

.barbeiros-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
}

.barbeiros-img img{
    padding: 20px;
}

.barbeiros-item h3{
    text-align: center;
    color: #FFA943;
    font-size: 21px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 90px;
}


/* FORM */

.form-info{
    padding-top: 90px;
}

.form-border{
    margin: 0 auto;
    border: 3px solid #000000;
    border-radius: 3px;
    width: 99px;
}

.form-info h3{
    font-size: 21px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    margin: 30px 0;
}

.form-info h1{
    font-size: 26px;
    font-weight: 700;
    color: #FFA943;
    text-align: center;
    margin: 30px 0;
}

.form-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 60px 20px;
}

.row1, .row2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px 20px;
}

.col1, .col2{
    flex: 1;
    margin: 15px 20px;
    align-self: center;
}

.col1 .iconify, .col2 .iconify{
    font-size: 24px;
    color: #FFA943;
    margin-right: 10px;
    position: relative;
    top: 4px;
}

.col1 label, .col2 label{
    font-size: 21px;
    color: #262228;
    font-weight: 700;
    margin-bottom: 10px;
}

.form-container input, .form-container select{
    background-color: white;
    border: 2px solid #57515A;
    border-radius: 3px;
    height: 35px;
    width: 370px;
    padding: 0px;
    font-size: 16px;
    color: #57515A;
    margin-top: 10px;
    padding-left: 10px;
}

input:focus, select:focus { 
    outline: none !important;
    border-color: #FFA943;;
}
.btn-form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*centralizar*/
    border: 0;
    cursor: pointer;
    background: #FFA943;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 1s;
    border-radius: 3px;
    width: 330px;
    text-align: center;
    align-self: center;
    margin-bottom: 280px;
}

.btn-form:hover{
    color: #332C36;
    transition-duration: 1.5s;
}


/*CONTATOS*/
.contatos{
    background-color: #332C36;
}

.contatos-container{
    position: relative;
    bottom: 200px;
}

.contatos-item{
    max-width: 1240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contatos-container ul{
    background-color: #262228;
    height: 432px;
    padding-top: 40px;
}

/*
@media(max-width:971px){
    .contatos-container ul{
        width: 600px;
        margin-bottom: 30px;
        margin: 0 20px;
    }
    .container-info li{
        text-align: center;
    }
}
*/


.contatos-container li{
    color: white;
    font-size: 20px;
    text-align: left;
    padding: 10px 20px;
}

.bordar-contatos{
    outline: 3px solid #FFA943;
    outline-offset: -10px;
    margin: 10px 0px 10px 30px;
}



.contatos-item li .iconify{
    font-size: 22px;
    color: white;
    margin-right: 10px;
    position: relative;
    top: 4px;
}

.contatos-item iframe{
    height: 432px;
   /* width="600" height="450"*/
   width: 460px;
   border: 0px;
   flex: 2;
   
   
}

.corporacao ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    height: 180px;
    margin: 0 10px;
}

.redes-sociais{
    position: relative;
    top: -90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.rede-social-rd ul{
    display: flex;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
}

.rede-social-rd li{
    padding: 0 20px;
}


/* FOOTER */
.footer-bg{
    background-color: #262228;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 102px;
}

.footer-bg h3, .footer-bg a{
    text-align: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
}


.footer-bg h3:hover, .footer-bg a:hover{
    color: #FFA943;
}


/*ANIMAÇÃO*/
[data-anime]{
    opacity: 0;
    transition: .3s;
}

[data-anime="top"]{
    transform: translate3d(0, -50px, 0);
}

[data-anime="bottom"]{
    transform: translate3d(0, 50px, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}


